html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: wheat;
}


/*Recipe page*/

.recipe {
  width: 140px;
}
.recipe-title {
  font-size: 0.8em;
}
.recipe-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}


.recipe-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe-grid li {
  padding: 10px 15px;
  text-align: left;
}